# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# SQLite
*.db
*.sqlite3

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/

# Environment secrets
.env
.env.local

# IDE
.vscode/
.idea/
